In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from datetime import datetime

#Ruta del raiz de directorio.
Ruta="../"

In [6]:
#Datos La información sobre los trimetres de la estacion de la flora

FloraTotal_3mes = pd.read_excel(Ruta+'PreparacionDatos/FloraTotal_3mes.xlsx',sheet_name='FloraTotal', header=0)


FloraTotal_3mes.head(19)

,Fecha,CO,DirVien,Fecha.1,H2S,Humedad,Lluvia,Motos_vehiculos_particulares,NO2,O3,PM10,Poblacion,RSolar,SO2,Temp,VelVien
0,2010-06-18 00:00:00,391.467102,176.100006,2010-06-18 00:00:00,0,70.099998,0.0,348066,0.0,21.635599,2.600000,2244668,0.000000,5.740900,24.400000,3.2
1,2010-06-18 00:00:00,708.846497,149.000000,2010-06-18 00:00:00,0,76.400002,0.0,348066,0.0,11.241300,16.299999,2244668,0.000000,7.714200,23.500000,1.5
2,2010-06-18 00:00:00,683.904480,144.000000,2010-06-18 00:00:00,0,79.099998,0.0,348066,0.0,8.239500,9.800000,2244668,0.000000,5.135900,22.700001,1.3
3,2010-06-18 00:00:00,841.206421,197.199997,2010-06-18 00:00:00,0,81.400002,0.0,348066,0.0,7.457900,6.500000,2244668,0.000000,6.760100,22.600000,0.3
4,2010-06-19 00:00:00,681.828613,29.299999,2010-06-19 00:00:00,0,86.400002,0.0,348066,0.0,6.949200,9.000000,2244668,0.000000,5.796100,21.900000,0.6
5,2010-06-19 00:00:00,634.866394,8.000000,2010-06-19 00:00:00,0,87.599998,0.0,348066,0.0,6.350200,15.500000,2244668,0.000000,5.289700,21.700001,0.3
6,2010-06-19 00:00:00,668.423523,347.299988,2010-06-19 00:00:00,0,88.400002,0.0,348066,0.0,5.045700,34.599998,2244668,0.000000,6.296700,21.400000,0.3
7,2010-06-19 00:00:00,577.201599,34.799999,2010-06-19 00:00:00,0,88.699997,0.0,348066,0.0,5.350700,37.299999,2244668,0.000000,6.678600,21.299999,0.5
8,2010-06-19 00:00:00,724.085388,343.399994,2010-06-19 00:00:00,0,89.699997,0.0,348066,0.0,5.445800,27.000000,2244668,0.000000,7.116200,21.000000,0.1
9,2010-06-19 00:00:00,971.997925,22.400000,2010-06-19 00:00:00,0,89.099998,0.0,348066,0.0,6.253400,34.599998,2244668,0.200000,8.013700,21.100000,0.3
10,2010-06-19 00:00:00,576.613403,26.700001,2010-06-19 00:00:00,0,87.500000,0.0,348066,0.0,5.519600,24.700001,2244668,17.299999,7.189000,21.400000,0.3
11,2010-06-19 00:00:00,531.930908,42.599998,2010-06-19 00:00:00,0,88.800003,0.0,348066,0.0,5.951700,53.099998,2244668,108.900002,7.869300,21.500000,1.2
12,2010-06-19 00:00:00,724.577393,50.900002,2010-06-19 00:00:00,0,84.900002,0.0,348066,0.0,6.225200,27.100000,2244668,150.300003,9.710500,22.200001,1.1
13,2010-06-19 00:00:00,692.254395,44.700001,2010-06-19 00:00:00,0,79.400002,0.0,348066,0.0,7.425800,34.000000,2244668,205.800003,10.434400,23.000000,1.0
14,2010-06-19 00:00:00,568.959412,6.200000,2010-06-19 00:00:00,0,78.300003,0.0,348066,0.0,8.673900,29.799999,2244668,271.600006,13.247500,23.299999,1.7
15,2010-06-19 00:00:00,558.145325,27.900000,2010-06-19 00:00:00,0,73.099998,0.0,348066,0.0,12.448500,39.400002,2244668,186.199997,18.237101,23.799999,0.8
16,2010-06-19 00:00:00,524.857300,88.699997,2010-06-19 00:00:00,0,67.099998,0.0,348066,0.0,13.485800,21.600000,2244668,439.000000,58.665901,25.299999,1.0
17,2010-06-19 00:00:00,447.236694,62.400002,2010-06-19 00:00:00,0,67.699997,0.0,348066,0.0,14.241500,12.600000,2244668,382.600006,56.890301,25.400000,2.4
18,2010-06-19 00:00:00,481.800903,48.500000,2010-06-19 00:00:00,0,83.699997,0.0,348066,0.0,27.215300,7.000000,2244668,246.399994,33.715302,22.799999,1.8

In [12]:
#remplzo por el 95 % la colmunas de PM y Motos_vehiculos_particulares
FloraTotal_3mes['Motos_vehiculos_particulares'] = FloraTotal_3mes['Motos_vehiculos_particulares'] * 0.95
FloraTotal_3mes['PM10'] = FloraTotal_3mes['PM10'] * 0.95

FloraTotal_3mes.to_excel("FloraTotal_3mes_95.xlsx", sheet_name='FloraTotal',encoding='UTF-8') #Se crea el archivo definitivo.

In [7]:
#remplzo por el 90 % la colmunas de PM y Motos_vehiculos_particulares
FloraTotal_3mes['Motos_vehiculos_particulares'] = FloraTotal_3mes['Motos_vehiculos_particulares'] * 0.9
FloraTotal_3mes['PM10'] = FloraTotal_3mes['PM10'] * 0.9

FloraTotal_3mes.to_excel("FloraTotal_3mes_90.xlsx", sheet_name='FloraTotal',encoding='UTF-8') #Se crea el archivo definitivo.

In [8]:
#remplzo por el 85 % la colmunas de PM y Motos_vehiculos_particulares
FloraTotal_3mes['Motos_vehiculos_particulares'] = FloraTotal_3mes['Motos_vehiculos_particulares'] * 0.85
FloraTotal_3mes['PM10'] = FloraTotal_3mes['PM10'] *0.85

FloraTotal_3mes.to_excel("FloraTotal_3mes_85.xlsx", sheet_name='FloraTotal',encoding='UTF-8') #Se crea el archivo definitivo.

In [9]:
#remplzo por el 80 % la colmunas de PM y Motos_vehiculos_particulares
FloraTotal_3mes['Motos_vehiculos_particulares'] = FloraTotal_3mes['Motos_vehiculos_particulares'] * 0.8
FloraTotal_3mes['PM10'] = FloraTotal_3mes['PM10'] * 0.8

FloraTotal_3mes.to_excel("FloraTotal_3mes_80.xlsx", sheet_name='FloraTotal',encoding='UTF-8') #Se crea el archivo definitivo.

In [10]:
#remplzo por el 90 % la colmunas de PM y Motos_vehiculos_particulares
FloraTotal_3mes['Motos_vehiculos_particulares'] = FloraTotal_3mes['Motos_vehiculos_particulares'] * 0.75
FloraTotal_3mes['PM10'] = FloraTotal_3mes['PM10'] * 0.75

FloraTotal_3mes.to_excel("FloraTotal_3mes_75.xlsx", sheet_name='FloraTotal',encoding='UTF-8') #Se crea el archivo definitivo.

In [11]:
#remplzo por el 90 % la colmunas de PM y Motos_vehiculos_particulares
FloraTotal_3mes['Motos_vehiculos_particulares'] = FloraTotal_3mes['Motos_vehiculos_particulares'] * 0.7
FloraTotal_3mes['PM10'] = FloraTotal_3mes['PM10'] * 0.7

FloraTotal_3mes.to_excel("FloraTotal_3mes_70.xlsx", sheet_name='FloraTotal',encoding='UTF-8') #Se crea el archivo definitivo.